body {
  margin: 0; 
  font-family: 'Teko', sans-serif;
  background-color: black;
}

.black-nav {
  background-color: black;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.black-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.black-nav ul li {
  display: inline;
}

.black-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.black-nav ul li a:hover {
  background-color: rgb(154, 2, 255);
  transform: scale(1.4); 
}

.nav-item:focus,
.nav-item:active {
    outline: 2px solid white;
    outline-offset: 2px;
}

.nav-item:hover {
    font-size: 1.5em;
    transition: font-size 0.3s ease;
}

.navbar li {
  flex-grow: 1;
}

.content {
  min-height: 100%;
  margin-bottom: -50px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1 {
  color: rgb(140, 0, 240);
  margin-left: 10%;
  margin-top: 2%;
}

p {
  color: aliceblue;
  margin-right: 50px;
}

.contato{
  width: 40%;
  border-radius: 17%;
  margin-top: 5%;
  border: 2px solid rgb(97, 7, 122);
  margin-left: 3%;
  box-shadow: 10px 10px 10px rgba(136, 0, 255, 0.5);
  opacity: 80%;
}

.contates{
  margin-left: 4%;
}
