body {
  margin: 0; 
  font-family: 'Teko', sans-serif;
  background-color: black;
}

.black-nav {
  background-color: black;
  padding: 10px 40px;
 
  width: 100%;
  z-index: 1000;
}

.black-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.black-nav ul li {
  display: inline;
}

.black-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.black-nav ul li a:hover {
  background-color: rgb(154, 2, 255);
  transform: scale(1.4);  
}

.nav-item:focus,
.nav-item:active {
    outline: 2px solid white;
    outline-offset: 2px;
}

.nav-item:hover {
    font-size: 1.5em;
    transition: font-size 0.3s ease;
}

.navbar li {
  flex-grow: 1;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
}


.copyright p {
  margin: 0;
}


main{
  margin: 25px 25px;

}

main .corpo{
  display: flex;
  margin: 15px 15px 15px 15px 15px;
}

.corpo img{
  width: 160px;
  height: 160px;
  padding: 25px px;
  margin: 40px 20px;
  border-radius: 40px;
  transition: 0.5s;
  opacity: 80%;
  box-shadow: 10px 10px 10px rgba(136, 0, 255, 0.5);
  border: 2px solid rgb(200, 0, 255);
}

.corpo{
  display: inline-block;
}

.corpo img:hover{
  transform: scale(1.3);
}

/*corpo2*/

main .corpo2{
  display: flex;
  margin: 15px 15px 15px 15px 15px;
}

.corpo2 img{
  width: 160px;
  height: 160px;
  padding: 25px px;
  margin: 40px 20px;
  border-radius: 40px;
  transition: 0.5s;
  opacity: 80%;
  box-shadow: 10px 10px 10px rgba(136, 0, 255, 0.5);
  border: 2px solid rgb(200, 0, 255);
}

.corpo2{
  display: inline-block;
}

.corpo2 img:hover{
  transform: scale(1.3);
  
}